__pycache__
a.py
b.py
jisyo.txt
jisyo2.txt
out.txt
nohup.out
jawiki-latest-pages-articles.xml.bz2
mozc.txt
skk.txt
nodup.txt
msime.txt
mozc_all.txt
mozc_over3.txt
msime_all.txt
msime_over3.txt
nodup_all.txt
nodup_over3.txt
skk_all.txt
skk_over3.txt

